server:
  port: 80
  servlet:
    context-path: /
spring:
   application:
      name: wayapos-agency-service
      
   jpa:
     hibernate:
       ddl-auto: update
     properties:
       hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          show-sql: true
          jdbc:
            time_zone: UTC
     open-in-view: false
    
   devtools:
       livereload:
           enabled: false
   jackson:
      serialization:
         fail-on-empty-beans: false
         
   datasource:
        url:  jdbc:postgresql://postgresdb:5432/wayapos-agency-service?useSSL=false&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
        username: root
        password: pONvagaJf3BTbu9l
        driver-class-name: org.postgresql.Driver

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-service/eureka
    service-url:
      default-zone: http://eureka-service/eureka
    register-with-eureka: false
    fetch-registry: false
  instance:
    preferIpAddress: true

waya:
   auth:
     baseurl: ${CONFIG_BASEURL_AUTH:https://services.staging.wayabank.ng/auth-service}
     name: AUTHENTICATION-SERVICE

createMerchantUrl: https://services.staging.wayapos.ng/auth-service/api/v1/auth/create-corporate
   
